<div class="container">
    <div class="tweet-menu">
        <div style="position: absolute; top: 10px;">
            <a href="/">
                    <i class="material-icons" style="font-size: 3rem; color: white;">home</i>
            </a>
        </div>
        <div style="position: absolute; bottom: 10px;">
            <a href="<%=if @user_info.nil? then "/login" else "/user/#{@user_info.display_id}" end%>">
            <% if @user_info != nil && @user_info.icon_uri != nil %>
                <img src="<%= @user_info.icon_uri %>" class="tweet-icon" width="50px">
            <% elsif @user_info != nil && @user_info.icon_uri == nil %>
                <img src="/images/icon.png" class="tweet-icon" width="50px">
            <% else %>
                    <i class="material-icons large" style="font-size: 3rem; color: white;">account_circle</i>
            <% end %>
            </a>
        </div>
    </div>
    <div class="tweet-row">
        <% if @target_user != nil %>
        <div class="tweet-box" style="padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div class="tweet-container" style="margin-bottom: 5px; padding: 0px">
                <div>
                    <div style="width: 100%; height: 200px; overflow: hidden;"><img width="100%" height="auto" src="https://pbs.twimg.com/profile_banners/4707591200/1622378850/1500x500"></div>
                    <div style="position: relative; margin: 10px;">
                        <div class="tweet-icon" style="position: absolute; top: -64px;">
                            <img class="tweet-icon" style="border: 5px solid black;" width="128px" src="<%= @target_user.icon_uri %>">
                        </div>
                        <div>
                            <div style="height: 60px; margin-bottom: 10px;position: relative;">
                                <% if !@user_info.nil? && @user_info.id == @target_user.id%><a href="/settings"><div class="setting-button" style="margin-left: auto; right: 10px; width: 200px;">
                                    アカウント設定
                                </div></a><%end%>
                            </div>
                            <div style="position: relative;">
                                <span style="font-size: 22px;"><%=Sanitizing.do( @target_user.display_name )%></span><br>
                                <span style="font-size: 18px; color: gray">@<%=Sanitizing.do( @target_user.display_id )%></span>
                                <p><%=Sanitizing.do( @target_user.status )%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <%
        unless @target_post.nil?
            user = User.find(@target_post.user_id)
            heart_num = Heart.where(post_id: @target_post.id).length

        %>
        <div class="tweet-box">
            <div class="tweet-container" style="margin-bottom: 5px;">
                <div class="tweet-author">
                    <div class="tweet-icon">
                        <img class="tweet-icon" src="<%=Sanitizing.do( user.icon_uri )%>" width="100%">
                    </div>
                     <div class="tweet-header-top">
                        <a href="/user/<%=Sanitizing.do( user.display_id )%>" style="color: white;">
                            <%=Sanitizing.do( user.display_name )%>
                        </a><br>
                        <span style="color: gray; margin-top: 10px;">@<%=Sanitizing.do( user.display_id )%> ・ <%=Sanitizing.do( TimeControl.familiar_string(@target_post.posted_at, Time.now, true) )%></span>
                    </div>
                </div>
            </div>
            <div class="tweet-main" style="margin-bottom: 10px;">
                <div class="tweet-context" style="font-size: 24px;"><%=Sanitizing.do( @target_post.content )%></div>
            </div>
            <div class="tweet-footer">
                <div class="tweet-button noselect" onClick="toggleLike(&quot;<%=Sanitizing.do(@user_info.nil? ? "require:login" : @target_post.id )%>&quot;)">
                    <i class="material-icons heart_style_<%=Sanitizing.do( @target_post.id )%>" style="color: <%= @user_info.nil? || Heart.find_by(post_id: @target_post.id, user_id: @user_info.id).nil? ? 'white' : 'red' %>;" ><%= @user_info.nil? || Heart.find_by(post_id: @target_post.id, user_id: @user_info.id).nil? ? 'favorite_border' : 'favorite' %></i><span class="heart_num_<%=Sanitizing.do( @target_post.id )%>"><%= heart_num if heart_num > 0 %></span>
                </div>
                <%if !@user_info.nil? && @user_info.id == @target_post.user_id %><form action="/post" method="post">
                    <input name="id" type="hidden" value="<%=Sanitizing.do( @target_post.id )%>">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit">
                        <i class="material-icons">delete</i>
                    </button>
                </form><% end %>
            </div>
        </div>
        <% end %>
        <% if !@disable_post_box %>
        <div class="tweet-box">
        <form method="POST" action="/post/new">
            <%if @target_post != nil%>  <input type="hidden" name="reply_to" value="<%=Sanitizing.do( @target_post.id )%>"><%end%>
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="<%= if @user_info.nil? then "/images/icon.png" else @user_info.icon_uri end %>" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="https://github.com/BonyChops" style="color: white;">
                        <%=Sanitizing.do( if @user_info == nil then "Kicha" else @user_info.display_name end)%>
                        </a>
                        <span style="color: gray; margin-left: 5px;">@<%= if @user_info == nil then "kicha" else @user_info.display_id end%></span>
                    </div>
                    <textarea required name="content" placeholder="<%=if @target_post == nil then "ねえ，今どんな気持ち？" else "返信を追加する..." end%>" class="tweet-input" style="background: transparent; min-height: 50px"></textarea>
                </div>
            </div>
            <div style="margin-left: auto; right: 0%; text-align: right;">
                <button type="submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
        </div>
        <% end %>
        <% if @next_button %>
        <div class="tweet-box">
        <a href="./<%=@set_current.nil? ? '' : @set_current%>?from=<%= @posts[0].posted_at %>"><p style="text-align: center; ">前の投稿を見る</p>
        </div></a>
        <% end %>
    　  <% if @posts.length <= 0 %>
        <p style="text-align: center; color: gray; margin-top: 50px;">投稿はまだありません</p>
        <% else
        @posts.each do |post|
        user = User.find(post.user_id)
        reply_num = Post.where(reply_to: post.id).length
        heart_num = Heart.where(post_id: post.id).length
        %>
        <div class="tweet-box">
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="<%=Sanitizing.do( user.icon_uri )%>" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="/user/<%=Sanitizing.do( user.display_id )%>" style="color: white;">
                        <%=Sanitizing.do( user.display_name )%>
                        </a>
                        <span style="color: gray; margin-left: 5px;">@<%=Sanitizing.do( user.display_id )%> ・ <%=Sanitizing.do( TimeControl.familiar_string(post.posted_at) )%></span>
                    </div>
                    <div class="tweet-context"><%=Sanitizing.do( post.content )%></div>
                </div>
            </div>
            <div class="tweet-footer">
                <div class="tweet-button">
                    <a href="/post/<%=Sanitizing.do( post.id )%>" style="text-decoration: none; color: white;"><i class="material-icons">chat_bubble_outline</i> <%= if reply_num > 0 then reply_num else "" end %></a>
                </div>
                <div class="tweet-button noselect" onClick="toggleLike(&quot;<%=@user_info.nil? ? "require:login" : post.id %>&quot;)">
                    <i class="material-icons heart_style_<%=Sanitizing.do( post.id )%>" style="color: <%= @user_info.nil? || Heart.find_by(post_id: post.id, user_id: @user_info.id).nil? ? 'white' : 'red' %>;" ><%= @user_info.nil? || Heart.find_by(post_id: post.id, user_id: @user_info.id).nil? ? 'favorite_border' : 'favorite' %></i><span class="heart_num_<%=Sanitizing.do( post.id )%>"><%= heart_num if heart_num > 0 %></span>
                </div>
                <%if !@user_info.nil? && @user_info.id == post.user_id %><form action="/post" method="post">
                    <input name="id" type="hidden" value="<%=Sanitizing.do( post.id )%>">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit">
                        <i class="material-icons">delete</i>
                    </button>
                </form><% end %>
            </div>
        </div>
    　  <% end end %>
        <% if @prev_button %>
        <div class="tweet-box">
        <a href="./<%=Sanitizing.do(@set_current.nil? ? '' : @set_current)%>?since=<%= @posts.last(1)[0].posted_at %>"><p style="text-align: center; ">前の投稿を見る</p>
        </div></a>
        <% end %>
    </div>
</div>