<div class="container">
    <div class="tweet-menu">
        <div style="position: absolute; top: 10px;">
            <a href="/">
                    <i class="material-icons" style="font-size: 3rem; color: white;">home</i>
            </a>
        </div>
        <div style="position: absolute; bottom: 10px;">
            <a href="<%=if @user_info.nil? then "/login" else "/user/#{@user_info.display_id}" end%>">
            <% if @user_info != nil && @user_info.icon_uri != nil %>
                <img src="<%= @user_info.icon_uri %>" class="tweet-icon" width="50px">
            <% elsif @user_info != nil && @user_info.icon_uri == nil %>
                <img src="/images/icon.png" class="tweet-icon" width="50px">
            <% else %>
                    <i class="material-icons large" style="font-size: 3rem; color: white;">account_circle</i>
            <% end %>
            </a>
        </div>
    </div>
    <div class="tweet-row">
        <% if @target_user != nil %>
        <div class="tweet-box" style="padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div class="tweet-container" style="margin-bottom: 5px; padding: 0px">
                <div>
                    <div style="width: 100%; height: 200px; overflow: hidden;"><img width="100%" height="auto" src="https://pbs.twimg.com/profile_banners/4707591200/1622378850/1500x500"></div>
                    <div style="position: relative; margin: 10px;">
                        <div class="tweet-icon" style="position: absolute; top: -64px;">
                            <img class="tweet-icon" style="border: 5px solid black;" width="128px" src="<%= @target_user.icon_uri %>">
                        </div>
                        <div>
                            <div style="height: 60px; margin-bottom: 10px;position: relative;">
                                <% if !@user_info.nil? && @user_info.id == @target_user.id%><a href="/settings"><div class="setting-button" style="margin-left: auto; right: 10px; width: 200px;">
                                    アカウント設定
                                </div></a><%end%>
                            </div>
                            <div style="position: relative;">
                                <span style="font-size: 22px;"><%= @target_user.display_name %></span><br>
                                <span style="font-size: 18px; color: gray">@<%= @target_user.display_id %></span>
                                <p><%= @target_user.status %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <%
        unless @target_post.nil?
            user = User.find(@target_post.user_id)
        %>
        <div class="tweet-box">
            <div class="tweet-container" style="margin-bottom: 5px;">
                <div class="tweet-author">
                    <div class="tweet-icon">
                        <img class="tweet-icon" src="<%= user.icon_uri %>" width="100%">
                    </div>
                     <div class="tweet-header-top">
                        <a href="/user/<%= user.display_id %>" style="color: white;">
                            <%= user.display_name %>
                        </a><br>
                        <span style="color: gray; margin-top: 10px;">@<%= user.display_id %> ・ <%= TimeControl.familiar_string(@target_post.posted_at, Time.now, true) %></span>
                    </div>
                </div>
            </div>
            <div class="tweet-main" style="margin-bottom: 10px;">
                <div class="tweet-context" style="font-size: 24px;"><%= @target_post.content %></div>
            </div>
            <div class="tweet-footer">
                <div class="tweet-button noselect" onClick="toggleLike(<%=@target_post.id%>)">
                    <i class="material-icons">favorite_border</i>
                </div>
                <div class="tweet-button">
                    <i class="material-icons">share</i>
                </div>
            </div>
        </div>
        <% end %>
        <% if !@disable_post_box %>
        <div class="tweet-box">
        <form method="POST" action="/post/new">
            <%if @target_post != nil%>  <input type="hidden" name="reply_to" value="<%= @target_post.id %>"><%end%>
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="<%= if @user_info.nil? then "/images/icon.png" else @user_info.icon_uri end %>" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="https://github.com/BonyChops" style="color: white;">
                        <%= if @user_info == nil then "Kicha" else @user_info.display_name end%>
                        </a>
                        <span style="color: gray; margin-left: 5px;">@<%= if @user_info == nil then "kicha" else @user_info.display_id end%></span>
                    </div>
                    <textarea required name="content" placeholder="<%=if @target_post == nil then "ねえ，今どんな気持ち？" else "返信を追加する..." end%>" class="tweet-input" style="background: transparent; min-height: 50px"></textarea>
                </div>
            </div>
            <div style="margin-left: auto; right: 0%; text-align: right;">
                <button type="submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
        </div>
        <% end %>
    　  <% if @posts.length <= 0 %>
        <p style="text-align: center; color: gray; margin-top: 50px;">投稿はまだありません</p>
        <% else
        @posts.each do |post|
        user = User.find(post.user_id)
        replyNum = Post.where(reply_to: post.id).length
        %>
        <div class="tweet-box">
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="<%= user.icon_uri %>" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="/user/<%= user.display_id %>" style="color: white;">
                        <%= user.display_name %>
                        </a>
                        <span style="color: gray; margin-left: 5px;">@<%= user.display_id %> ・ <%= TimeControl.familiar_string(post.posted_at) %></span>
                    </div>
                    <div class="tweet-context"><%= post.content %></div>
                </div>
            </div>
            <div class="tweet-footer">
                <div class="tweet-button">
                    <a href="/post/<%= post.id %>" style="text-decoration: none; color: white;"><i class="material-icons">chat_bubble_outline</i> <%= if replyNum > 0 then replyNum else "" end %></a>
                </div>
                <div class="tweet-button noselect">
                    <i class="material-icons">favorite_border</i>
                </div>
                <div class="tweet-button">
                    <i class="material-icons">share</i>
                </div>
            </div>
        </div>
    　  <% end end %>
    </div>
</div>